<launch>
  <!-- REALSENSE D435i -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
   <arg name="align_depth" value="true"/>
   <arg name="enable_pointcloud" value="false"/>
  </include>
  
  <!-- STRETCH DRIVER -->
  <arg name="debug_directory" value="$(env HELLO_FLEET_PATH)/debug/"/>
  <include file="$(find stretch_core)/launch/stretch_driver.launch" /> 

  <!-- FRUSTUM FIELD OF VIEW VISUALIZATION -->	
  <node name="d435i_frustum_visualizer" pkg="stretch_core" type="d435i_frustum_visualizer" output="screen" />
  
  <!-- CUPS POSE DETECTOR -->
  <!-- <node name="cups_pose_estimator" pkg="touri_perception" type="cups_pose_estimator.py" output="screen"/> -->

  <!-- TRANSFORM SERVER -->
  <node name="transform_server" pkg="touri_perception" type="transform_server.py" output="screen"/>

  <!-- TRANSFORMS NODE -->
  <!-- <node name="transforms_node" pkg="touri_mani" type="transforms_node.py" output="screen"/> -->

  <!-- MANIPULATION HELLO -->
  <node name="manipulation_hello" pkg="touri_mani" type="manipulation_hello.py" output="screen"/>

  <!-- KEYBOARD TELEOP -->
  <node name="keyboard_teleop" pkg="stretch_core" type="keyboard_teleop" output="screen"/>
  
  <!-- VISUALIZE DETECTION -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find stretch_deep_perception)/rviz/object_detection.rviz" />
</launch>